#!/bin/bash

pipeline_name_version="PIPELINE_NAME/PIPELINE_VERSION"

job_uuid=`python -c 'import uuid; print str(uuid.uuid1())'`
lsf_proj_name="Proj_DEV_0003:${job_uuid}"
job_name="leader:${lsf_proj_name}"
job_desc=${job_name}
source ${ROSLIN_CORE_CONFIG_PATH}/${pipeline_name_version}/settings.sh

work_base_dir=${ROSLIN_PIPELINE_OUTPUT_PATH}
work_dir=${work_base_dir}/`echo ${job_uuid} | cut -c1-8`/$job_uuid

echo $job_uuid, $lsf_proj_name, $job_name, $job_desc, $work_base_dir, $work_dir

roslin_request_to_yaml.py \
    --pipeline ${pipeline_name_version} \
    -m Proj_DEV_0003_sample_mapping.txt \
    -p Proj_DEV_0003_sample_pairing.txt \
    -g Proj_DEV_0003_sample_grouping.txt \
    -r Proj_DEV_0003_request.txt \
    -o . \
    -f inputs.yaml

bsub -q controlR \
    -P ${lsf_proj_name} \
    -J ${job_name} \
    -Jd ${job_desc} \
    -cwd ${work_dir} \
    -oo stdout.log \
    -eo stderr.log \
    run_pipeline.py \
        --id Proj_DEV_0003 \
        --job-uuid ${job_uuid} \
        --path . \
        --batch-system singleMachine \
        --pipeline ${pipeline_name_version} \
        --input-yaml inputs.yaml
