#!/bin/bash

pipeline_name_version="PIPELINE_NAME/PIPELINE_VERSION"

job_uuid=`python -c 'import uuid; print str(uuid.uuid1())'`
lsf_proj_name="Proj_DEV_0003:${job_uuid}"
job_name="leader:${lsf_proj_name}"
job_desc=${job_name}
echo "Roslin core config path: ${ROSLIN_CORE_CONFIG_PATH}"
source ${ROSLIN_CORE_CONFIG_PATH}/${pipeline_name_version}/settings.sh

work_base_dir=${ROSLIN_PIPELINE_OUTPUT_PATH}
work_dir=${work_base_dir}/`echo ${job_uuid} | cut -c1-8`/${job_uuid}
curr_dir=`pwd` #TODO: this is needed for --path variable, which creates metadata files... look to remove in the future

echo "Job Info: $job_desc"
echo "Working Directory: ${work_dir}"

roslin_request_to_yaml.py \
    --pipeline ${pipeline_name_version} \
    -m Proj_DEV_0003_sample_mapping.txt \
    -p Proj_DEV_0003_sample_pairing.txt \
    -g Proj_DEV_0003_sample_grouping.txt \
    -r Proj_DEV_0003_request.txt \
    -o . \
    -f inputs.yaml

bsub -q controlR \
    -P ${lsf_proj_name} \
    -J ${job_name} \
    -Jd ${job_desc} \
    -oo ${work_dir}/stdout.log \
    -eo ${work_dir}/stderr.log \
    ${ROSLIN_CORE_BIN_PATH}/run_pipeline.py \
        --id Proj_DEV_0003 \
        --job-uuid ${job_uuid} \
        --path ${curr_dir} \
        --batch-system singleMachine \
        --pipeline ${pipeline_name_version} \
        --input-yaml inputs.yaml
