.vagrant
.vscode/ftp-sync.json
*.log
/build/containers/**/*.img
/build/cwl-wrappers/**/*.bak
/build/tmp/**
/build/scripts/error.*.txt
/setup/data/assemblies
/setup/tools/**
/*.tgz
*.pyc
/test/outputs
/test/mock/stub
/test/helpers/bats*
