[submodule "core"]
    path = core
    url = https://github.com/mskcc/roslin-core
    branch = new_toil_tmp
[submodule "setup/cwl/modules/sample/resolve-pdx"]
	path = setup/cwl/modules/sample/resolve-pdx
	url = https://github.com/mskcc/resolve-pdx
