ref: GRCh37
in:
  - class: File
    path: ../data/bam/sample1.bam
  - class: File
    path: ../data/bam/sample2.bam
targets:
  class: File
  path: ./sample.bed
working: ${tmpdir}

# filename must end with .abra.bam
out: ['sample1.abra.bam', 'sample2.abra.bam']
